body {
    padding-top: 56px;
  }

#navbar-colour {
    background-color: black;
}
  
  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .col {
    margin: 70px;
  }

  h2 {
    text-align: center;
}

#dropdown {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: white;
  color: #6c757d;
  text-align: left;
}

#submitButton {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-top: 20px;
}

br {
  line-height: 125%;
}

button {
  width: 100%;
}

#required {
  border-color: red;
}

#requiredText {
  color: red;
}

#foodNameHelp {
  color: #6c757d;
}

#wineNameHelp {
  color: #6c757d;
}

